[Unit]
Description=7 Days to Die server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
User=<SEVEN_USER>
WorkingDirectory=<SEVEN_BASE_DIR>
ExecStart=<SEVEN_BASE_DIR>/start.sh <SEVEN_INSTANCE_NAME>
ExecStop=<SEVEN_BASE_DIR>/stop.sh <SEVEN_INSTANCE_NAME>

[Install]
WantedBy=multi-user.target
